<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/css/main.css">
  <!-- <link rel="shortcut icon" href="/favicon.png"/> -->
</head>

<body>
<div class="wrapper">
  <h4>
    My Website
  </h4>
  <h5><a href="/bio/">BIO</a></h5>
  <div id="gallery">
    <p>
    {{#each collections.projects}}
    <div class="project">
      <a href="{{this.path}}">
      {{this.title}}
      </a>
      </div>
    {{/each}}
    </p>
  </div>
</div>

</body>
</html>
